/* -- Global rules -- */
* {
  background: #6B6B6B;
  color: #FFFFFF;
  font-family: "RecMonoCasualNerdFont";
  font-size: 16px;
  min-height: 10px;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 1px;
  margin-right: 1px;
}

#network{
    min-width: 20px;
    margin-right: 8px;
}

#power{
    margin-right: 8px;
}

#clock {
    font-size: 18px;
}

window#waybar {
  background: rgb(34, 36, 54);
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {}

#workspaces button {
  border-radius: 6px;
  background: #aaaaaa;
  transition: background 0.3s ease;
}

#workspaces button * {
  background: black;
  opacity: 1;
}

#workspaces button.visible {
  background: #dddddd;
}

#workspaces button:hover {
  background: #dddddd;
}

#taskbar button {
  background: #aaaaaa;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: #dddddd;
}

#taskbar button:hover {
  background: #dddddd;
}

#taskbar {
  background: transparent;
}

#idle_inhibitor {}

#pulseaudio {
  min-width: 55px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0.5;
    background: white;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: #CCCCCC;
}


/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
  }
}
